// 颜色
$accentColor = #0388e3
$textColor = #3c3c3c
$borderColor = rgba(0, 0, 0, 2%)
$codeBgColor = rgba(251, 251, 251, 30%)
$navBgColor = rgba(251, 251, 251, 30%)
$arrowBgColor = #ccc
$badgeTipColor = $accentColor
$badgeWarningColor = #f4cd00
$badgeErrorColor = #DA5961
$tipBgColor = rgba(251, 251, 251, 25%)
$filterBlur = 4px

// code
$codeNumbersColor = #c4c4c6
$codeDefaultColor = #3a385d
$codeCommentColor = #848486
$codePunctuationColor = #a8a9cc
$codeTagColor = #b2085f
$codeBooleanColor = #0a7a34
$codeClassNameColor = #b92dbc
$codeFunctionColor = $accentColor
$codeSelectorColor = #DA5961
$codeRegexColor = #c25205
$codeUrlColor = #d29000

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
