// 颜色
$accentColor = #0388e3
$textColor = #3c3c3c
$borderColor = rgba(0, 0, 0, 2%)
$codeBgColor = #282c34
$navBgColor = rgba(251, 251, 251, 30%)
$arrowBgColor = #ccc
$badgeTipColor = #0388e3
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$tipBgColor = rgba(251, 251, 251, 25%)

// code
$codeBooleanColor = rgba(0, 194, 47, 75%)
$codeClassNameColor = rgba(255, 101, 67, 75%)
$codeSelectorColor = #2392cd
$codeRegexColor = rgba(255, 229, 100, 75%)
$codeUrlColor = rgba(0, 217, 227, 75%)

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
